.FoodCategoriesContainer {
  margin-top: 50px;
}

.FoodCategoriesCard {
  margin-top: 25px;
  margin-left: 25px;
  width: 23rem;
  display: inline-block;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: whitesmoke;
}

.cardImg {
  margin-top: 30px;
}
.FoodCategoriesCard img {
  padding-left: 5px;
  padding-right: 5px;
}

.FoodCategoriesCardText {
  max-height: 300px;
  overflow: auto;
}

.blackText {
  color: black;
}

.whiteText {
  color: white;
}
